body {background-color:black;font-family: Arial;color: white;}
h1{color:grey;font-family: Verdana;}
mark { 
    background-color: yellow;
    color: black;
  }
.maindiv{
    background-color: white;
    width: 300px;
    padding: 20px;
    color:black;
    border-radius: 25px;
    align-items: center;
}
